<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery.min.js"></script>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>

<link href="css/signup.css" rel="stylesheet" type="text/css" />
<script src="app.js"></script>
<link rel="background icon" href="img/music-note.png"


  <meta charset="utf-8">

  <title>Sign-In</title>
</head>
<body> 
    <div id="all-content" class="container-fluid">

      <div id="top-content">
    	 <p><img src="img/music-logo.png" style="width:50px;height:35px;">Mood Den</p>
      </div>

      <div ng-app="myApp" ng-controller="myCtrl" id="main-content" class="row">

        <div id="sign-up-column" class ="col-md-6">
          <form name ="myForm" novalidate action="index.html">
    	    <p id="welcome">Welcome to the party!<br>Please enter your name and email to get started!</b> </p>
            
          <div class="form-group" id="enter-name" ng-app="myApp">
            <div ng-controller="myCtrl">
               <label>Name:</label>
               <input ng-minlength="minLength" name="name" class="form-control" ng-required="true" ng-model="user.name" type="text" placeholder="Full Name" required></input> 
            </div>          
          </div>
        
          <p ng-show="myForm.name.$error.minlength && myForm.name.$dirty" ng-class="'has-error':myForm.name.$touched && myForm.name.$dirty" class="help-block">Name must be at least {{minLength}} characters long</p>
          <p ng-show="myForm.name.$invalid && myForm.name.$touched && !myForm.name.$dirty" class="help-block" >Your name is required.</p>

           
          <div class="form-group" id="enter-email">
               <label>Email:</label>
               <input ng-minlength=5 name="email" class="form-control" ng-required="true" ng-model="user.email" placeholder="someone@example.com" required></input>           
          </div>

         	<p ng-show="myForm.email.$invalid && myForm.email.$touched && !myForm.email.$dirty" class="help-block">Your Email is required.</p>
        
          <div class="form-group">
               <button ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary">Submit</button>      
          </div>
    	    <div class="form-group" id="terms">
    		    <p>By entering you agree to Mood Den's Terms of Service</p>
    	    </div>
      
          </form>

        </div>
        <div id="other-stuff-column" class="col-md-6">
          <div class="row">
            <p>Check us out on...</p>
          </div>
          <div id="facebook" class="row">
            <img src="img/facebook-logo.png" class="col-md-3" style="width:120px;height:100px">
            <p>Find us on FaceBook!</p>
            <p>Like our page and recieve a special gift!</p>
          </div>
          <div id="twitter" class="row">
            <img src="img/twitter-logo.png" class="col-md-3" style="width:120px;height:100px">
            <p>Follow us on Twitter!</p>
          </div>
        </div>

      </div>
    </div>
</body>
</html>